<h1>Home#index</h1>

<h3>Listado de Usuarios</h3>

<% @users.each do |user| %>
	<ul>
		<li><%= image_tag user.avatar.url(:thumb) %></li>
		<li> <%= user.email %> <%= link_to 'ver Perfil', user %></li>
	</ul>
<% end %>
